@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Yantramanav&display=swap');

* {
<<<<<<< HEAD
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Open Sans", sans-serif;
}
=======
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
font-family: Arial, Helvetica, sans-serif;
  }

  .App {
    margin-top: 40px;
  }

@media only screen and (min-width: 1355px) {
  .App {
    margin-top: 10px;
  }
}

>>>>>>> 5af74034fc84bed9f15693c1cb2e474d7ed94cd2
