#pageCounter{
	display: flex;
	flex-direction: row;
}

button{
	width: 24px;
	height: 24px;
	margin-right: 6px;
	border: none;
	border-radius: 0;
	cursor: pointer;
	font-weight: bold;
	background-color: white;
}
button:hover{
	background-color: #ccc	;
}
button.active{
	background-color: #004B94;
	color: white;
}

