* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

.App {
  padding: 24px;
}

.team_title {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
.icon {
  width: 20px;
}
.icon.active {
  transform: rotate(180deg);
}
.team_content {
  display: none;
  padding: 6px;
}
.team_content.active {
  display: block;
}

.team_heading {
  margin: 20px 0;
}
.team_list li {
  margin-bottom: 12px;
}
.team_content img{
    width: 380px;
}
._flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}