/*Mobile first css*/
footer{
    color: white;
    background-color: #00478C;
    font-size: 12px;
}

a{
    color: white;
    margin-bottom: 6px;
}
.column{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: top;
    margin-bottom: 18px;
    padding-left: 10px;
    padding-top: 13px;

}
.column>h3{
    font-size: 16px;
    margin-bottom: 6px;
}
.copyright{
    width:100%;
    background-color: #004B94;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}


/*larger screens */
@media (min-width: 600px){
    footer{
        font-size: 16px;
    }
    .column{
        display: flex;
        flex-direction: column;
        width: 24%;
    }
    .footerBox{
        display: flex;
        display: row;
    }
    a{
        margin-bottom: 10px;
    }
    .column>h3{
        font-size: 20px;
        margin-bottom: 8px;
    }
}