/* Logo style - mobile first */
.logo {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav{
  min-height: 26px;
}
.nav-menu {
  width: 100%;
  margin-top: 20px;
}
.border-bottom {
  border-bottom: 1px solid #e6e6e6;
}
.nav-link {
  display: none;
}
.nav-link-mobile {
  display: flex;
  flex-direction: column;
}
.links {
  color: black;
  text-decoration: none;
  margin-top: 10px;
  letter-spacing: 1px;
  font-size: 14px;
}
.logo img {
  width: 95%;
}
.follow {
  margin-right: 20px;
}
.follow a {
  color: #22478c;
}
.fa-icon {
  color: #22478c;
}
.mobile-icon {
  position: absolute;
  right: 5%;
  top: 70px;
  display: block;
  list-style: none;
  border: none;
  font-size: 25px;
  background-color: white;
}
.arrow {
  position: relative;
  left: 5px;
  top: -2px;
}
.anchor {
  padding: 5px 10px;
  color: black;
  text-decoration: none;
}
.dropdown-link {
  display: none;
  list-style: none;
  margin-bottom: -5px;
}
.dropdown-anchor {
  display: block;
  text-decoration: none;
  padding-left: 20px;
  color: #000;
}
.dropdown-anchor:first-child {
  margin-top: 5px;
}
.dropdown-link {
  display: block;
  margin-bottom: -15px;
}
.klubb{
  margin-bottom: -10px;
}

@media only screen and (min-width: 1355px) {
  .logo {
    max-width: 1200px;
    margin: 0 auto;
  }
  .nav {
    width: 100%;
    height: 50px;
    background-color: #00478C;
  }
  .nav-link {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding-top: 8px;
  }
  .nav-menu {
    max-width: 1200px;
    margin: 0 auto;
  }
  .border-bottom {
    border-bottom: none;
  }
  .anchor {
    text-decoration: none;
    color: white;
  }
  .klubb {
    margin-left: -20px;
  }
  .mobile-icon {
    display: none;
    background-color: none;
  }
  .anchor {
    text-decoration: none;
    color: white;
    border-right: 2px solid #376faa;
    padding-right: 2em;
    padding-left: 2em;
    border-right: 2px solid #376faa;
  }
  .arrow {
    left: 1.2em;
  }
  .marked {
    border-right: none;
  }
  .dropdown-link {
    margin-top: 10px;
    background-color: #00478C;
  }
  .dropdown-anchor {
    padding: 10px 10px;
    color: white;
  }
  .dropdown-link {
    display: none;
  }
  .dropdown:hover .dropdown-link {
    display: block;
  }
}
