.pageCounter{
	display: flex;
	flex-direction: row;
}

.pageCounter button{
	width: 30px;
	height: 30px;
	margin-right: 6px;
	border: none;
	border-radius: 0;
	cursor: pointer;
	font-weight: bold;
	background-color: white;
}
.pageCounter button:hover{
	background-color: #ccc	;
}
.pageCounter button.active{
	background-color: #004B94;
	color: white;
}

@media only screen and (min-width: 600px) {
	.pageCounter button{
		width: 40px;
		height: 40px;
		font-size: 1rem;
	}
}

@media only screen and (min-width: 1200px) {

}