#Post{
	width: 100%;
	max-width: 1200px;
	margin: 30px auto;
	padding: 0 10px;
}

#Post ul{
	list-style: inside;
}
#Post h1{
	margin-bottom: 6px;
}

#Post h2 {
    font-size: 18px;
    margin-bottom: 12px;
}

#Post #postDate{
	margin-bottom: 12px;
}

#Post p, #Post ul{
	margin-bottom: 12px;
}

.zoom{
	max-height: 120px;
}

.postImagePreview{
	margin-right: 15px;
	margin-bottom: 10px;
}

#imgContainer {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

@media only screen and (min-width: 600px) {
	#Post{
		margin-top: 30px;
		margin-bottom: 30px;
	}

	#Post h1{
		font-size: 36px;
	}
	#Post h2 {
    font-size: 28px;
}
}

@media only screen and (min-width: 1200px) {

}