h1{
	font-size: 24px;
	margin-bottom: 14px;
}
#postContainer{
	padding: 0 10px;
	margin: 0 auto;
	margin-bottom: 55px;
	max-width: 1200px;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 1200px) {

}